.App {
  /* text-align: center; */
  display: grid;
  grid-template-columns: 30% 70% !important;
  justify-items: center;
  width: 100% !important;
  border: 2px solid green;
  height: 80vh;
  padding: 1em;
  gap: 1em;
}


.subbox-header{
  background-color: antiquewhite;
  color: midnightblue;
}

.instruction-text{
  color: rebeccapurple;
}
.cei-text{
  color: rebeccapurple;
}
.frame-text{
  color: rebeccapurple;
}
.operands-text{
  color: rebeccapurple;
}

.locals-text{
  color: rebeccapurple;
}


.app-child{
  border: 2px solid red;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin) !important;
  /* color: white; */
}

.App-link {
  /* color: #61dafb; */
  font-size: 2.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
